src/PlcNext.Common/Project/ProjectSettingsSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- This schema file describes the structure of the project settings file. -->
<xs:schema xmlns="http://www.phoenixcontact.com/schema/cliproject"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           id="projectSettings" targetNamespace="http://www.phoenixcontact.com/schema/cliproject"
           version="1.0">
  <xs:element name="ProjectSettings">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          Root element for the template description file.
          It contains all necessary informations for the template.
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Target" type="targetDefinition"/>
        <xs:element minOccurs="0" name="Id" type="guid">
          <xs:annotation>
            <xs:documentation>
              The id used to identify the library.
              This id will be automatically generated the first time the library is built.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Extension" type="extension"/>
        <xs:element minOccurs="0" maxOccurs="1" name="Type" type="typeDefinition" default="project"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="targetDefinition">
    <xs:annotation>
      <xs:documentation>
        The definition for a target for which the library will be built.
        The target must be defined in the form [name],[version].
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value=".*,.*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name ="typeDefinition">
    <xs:annotation>
      <xs:documentation>
        A project type.
        Types can be used to differentiate between project templates.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="extension">
    <xs:annotation>
      <xs:documentation>
        An extension to the project settings. 
        Extensions can be used by plugins for the template system.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any minOccurs="1" maxOccurs="unbounded" processContents="lax">
        <xs:annotation>
          <xs:documentation>
            The actual extension.
          </xs:documentation>
        </xs:annotation>
      </xs:any>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string">
      <xs:annotation>
        <xs:documentation>
          The name of the extension.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="guid">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        The representation of a GUID, generally the id of an element.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
